@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
  --font-family: "Roboto", sans-serif;

  --color-bg: #2ec4b6;
  --color-text: #fdfffc;
  --color-subtext: #ff8a71;
}
